<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs', { title: 'Artizo' , stylesheet: '/css/home.css' }) %>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
    <%- include('navbar.ejs', { user: user }) %>

      <!--Showcase-->
      <section class="text-light p-5 text-center text-sm-start showcase">
        <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between">
            <div>
              <h2 class="writing" style="font-size: 50px;">
                Find the right <span class="italic-word"> freelance </span> <br />
                service, <br /> right away
                <br />
              </h2>
              <button class="btn text-dark fw-bold watch">
                <img src="/images/home/play.svg" alt="" />
                Watch Video
              </button>
            </div>
            <img class="image-fluid w-50 ms-auto d-none d-sm-block proud" src="/images/home/proud.svg" alt=""
              style="max-width: 500px; height: 450px" />
          </div>
        </div>
      </section>

      <!--Boxes-->
      <section class="p-5 boxes">
        <h2 class="text-center up">"Up your work game, it's an art"</h2>
        <div class="container bb">
          <div class="row text-center g-4">
            <div class="col-md">
              <div class="card text-light" style="height:200px;">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <p><img src="/images/home/earning.png" class="earning"></p>
                  </div>
                  <h3 class="card-title mb-3">No cost to join</h3>
                  <p class="card-text">
                    Register and browse professionals
                  </p>
                  <!-- <a href="#" class="btn btn-dark">Read More</a> -->
                </div>
              </div>
            </div>

            <div class="col-md">
              <div class="card text-light" style="height:200px;">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="fa-solid fa-users-viewfinder fa-fade"></i>
                  </div>
                  <h3 class="card-title mb-3 pp">Hire top talent</h3>
                  <p class="card-text cc">
                    Finding talent is way easier than before
                  </p>
                  <!-- <a href="#" class="btn btn-dark">Read More</a> -->
                </div>
              </div>
            </div>

            <div class="col-md">
              <div class="card text-light" style="height:200px;">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <p><img src="/images/home/talent-search.png" class="talent"></p>
                    <!-- <i class="fa-solid fa-lock fa-bounce"></i> -->
                  </div>
                  <h3 class="card-title mb-3">Work with the best</h3>
                  <p class="card-text yy">
                    Collaborate with Top Talent and Achieve Your Goals
                  </p>
                  <!-- <a href="#" class="btn btn-dark">Read More</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Bring to life-->
      <section id="life" class="p-5 life">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="/images/home/community.svg" class="image-fluid" alt="" style="max-width: 390px; height: auto" />
            </div>
            <div class="col-md p-5">
              <h2>Find talent
                your way</h2>
              <p class="lead">
                <b>Join our freelancing platform and tap into a vast community of
                  skilled professionals who are ready to bring your projects to life.
                  Whether you need speedy solutions or complete transformations,
                  we've got you covered with the best talent.</b>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="life" class="p-5 bg-dark text-light">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
              <h2>Why Businesses turn to Artizo?</h2>
              <p class="lead">
                Our platform offers a diverse pool of highly skilled and experienced
                freelancers, ensuring that your specific project requirements
                are met with excellence. We understand the importance of quick
                turnarounds and cost-effective solutions, making us the go-to choice
                for businesses seeking timely results. We provide a secure and reliable
                environment for businesses to collaborate with freelancers
                across various domains, from design and development to content creation and
                marketing.
              </p>
            </div>
            <div class="col-md">
              <img src="/images/home/business.svg" class="image-fluid" alt="" style="max-width: 450px; height: auto" />
            </div>
          </div>
        </div>
      </section>

      <section id="life" class="p-5 third">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="/images/home/payments.svg" class="image-fluid" alt="" style="max-width: 390px; height: auto" />
            </div>
            <div class="col-md p-5">
              <h2>Where Security Meets Simplicity in Payments</h2>
              <p class="lead">
                <b>"At Artizo, we understand that
                  flexibility is key when it comes to payments.
                  That's why we offer a diverse range of payment options to
                  cater to the unique preferences of our valued users"</b>
              </p>
            </div>
          </div>
        </div>
      </section>

      <!--Question Accordian-->
      <section id="quastions" class="p-5">
        <div class="container">
          <h2 class="text-center mb-4">Frequently Asked Questions</h2>
          <div class="accordion accordion-flush" id="questions">
            <!-- Item-1 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#question-one" aria-expanded="false" aria-controls="flush-collapseOne">
                  Who can work and collaborate on Artizo?
                </button>
              </h2>
              <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                  To be eligible to use Artizo you need to be a Bangladeshi
                  citizen, must show relevant documents and must have a bank
                  account
                </div>
              </div>
            </div>
            <!-- Item-2 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  How do I become a freelancer on your platform?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                  Sign up and upload your resume
                </div>
              </div>
            </div>
            <!-- Item-3 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  What fees are associated with using your platform?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                  No fees
                </div>
              </div>
            </div>
            <!-- Item-4 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  As a client, how is this website useful for me?
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                  As a client you can browse freelancer portfolios and assign them work
                  based on prior agreements
                </div>
              </div>
            </div>
            <!-- Item-5 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  Should I be worried about the payment process?
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">
                  The payment process is transparent and secure on our
                  website. So no worries. Get your work done quickly!!
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="team" class="p-5 team">
        <div class="contianer">
          <h2 class="text-center text-white">The Team</h2>
          <p class="lead text-center text-white mb-5">People behind Artizo</p>
          <div class="row g-4">
            <div class="col-md-4">
              <div class="card bg-light team-card">
                <div class="card-body text-center">
                  <img src="/images/home/sameer.jpg" class="rounded-circle mb-3" alt=""
                    style="max-width: 150px; height: auto " />
                  <h4 class="card-title">Sameer Shafayet Latif</h4>
                  <p class="card-text">Aspiring Engineer</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card bg-light  team-card">
                <div class="card-body text-center">
                  <img src="/images/home/namirah.jpg" class="rounded-circle mb-3" alt=""
                    style="max-width: 200px; height: auto" />
                  <h4 class="card-title">Namirah Rasul</h4>
                  <p class="card-text">Aspiring Engineer</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card bg-light  team-card">
                <div class="card-body text-center">
                  <img src="/images/home/kiran.jpg" class="rounded-circle mb-3" alt=""
                    style="max-width: 150px; height: auto" />
                  <h4 class="card-title">Rahiduzzaman Kiran</h4>
                  <p class="card-text">Aspiring Engineer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Newsletter-->
      <section class="text-dark p-5 newsletter" id="newsletter">
        <div class="container">
          <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>

            <div class="input-group news-input">
              <input type="email" class="form-control" placeholder="Enter Email" aria-label="Recipient's username"
                aria-describedby="button-addon2" />
              <button class="btn btn-dark btn-lg" type="button" id="button-addon2">
                Join
              </button>
            </div>
          </div>
        </div>
      </section>
      <%- include('footer.ejs') %>

