@import 'home.css';
body {

  /* background: linear-gradient(to bottom, #DFEDDC, #163A1E); */
  background: linear-gradient(180deg, #DFEDDC,#16A085, #3F6263);
}
.artizo-footer{
  color:white
}

.pic{
  width: 100px;
  height: 100px;
}

.green{
  color: #00886a;
}

.textss{
  font-size: 20px;
}

.container {
  width: 90%;
  height: 40%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 20px;
  background: white; /* Gradient background */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 10%;
  padding-right: 10%;
}

.hedLast{
  font-size: 25px;
  font-weight: bold;
}

.hedfirst{
  font-size: 20px;
  font-weight: bold;
}


 h1 {
  font-size: 50px;
  font-weight: bold;
  color: #333; /* Text color */
  text-align: center;
  margin-bottom: 20px;
  color: #00545a; /* New color for h1 */
  margin-bottom: 5%;
  margin-top: 5%;
 
}


.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.content img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin-right: 20px;
}

.text {
  flex: 1;
  margin-left: 5%;
  
}

h5 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333; /* Text color */
  margin-bottom: 15px;
}

span {
  color: #4070f4;
  font-weight: 700;
}



.content img {
  width: 70%; /* Increase width */
  max-width: 400px; /* Increase maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
  margin-right: 20px;
}


/* ... (your existing styles) ... */

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.icon {
  margin: 0 10px;
  color: #00886a;
  padding: 3%;
}

.icon i {
  font-size: 30px; /* Adjust the size of the icons as needed */
  transition: transform 0.3s ease-in-out; /* Adding transition for hover effect */

}

.icon i:hover {
  transform: scale(1.2); /* Increase size on hover */
}

