.custom-img{
    height: auto;
    width: 120px;
}

.proud{
    margin-top: 40px;
    animation: bounce 2s infinite;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.showcase{
    background-color: #DFEDDC;
}

.watch{
    margin-bottom: -50px;
    background-color: grey;
}

.watch:hover{
    background-color: greenyellow;
}

.writing{
    color: black;
}

.writing:hover{
    color: green;
    transform: translate(2px,-2px);
}

.italic-word{
    font-style: italic;
}

.ss{
    position: relative;
}

.up{
    font-style: oblique;
    margin-top: -10px;
}

.up:hover{
    transform: translate(2px,-2px);
    color:green;
}

.boxes{
    background-color: #FCFAEB;
}

.life{
    background-color: #f9eaa6;
}

.bb{
    margin-top: 40px;
}

nav{
  height: fit-content;
}

.ss::after{
    opacity: 0;
    transition: all 0.2s;
    content: '';
    height: 2px;
    width: 100%;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ss:hover::after{
    opacity: 1;
}

.d-sm-flex h1{
    margin-left: 70px;
    font-size: 70px;
    margin-top: 40px;
}

.dropdown-item:hover {
    background-color: #FFC107;
    color: black;
}

.card-body a:hover{
    background-color: #f23548;
    color: black;
}

.card-text{
    font-weight: 500;
    font-style: italic;
}
.team-card .card-body{
    background-color: rgba(44, 103, 119, 0.6);
}

.team-card .card-body:hover{
    background-color: rgba(255, 255, 255, 0.786);

}
.team-card{
 box-shadow: 0 0 10px 0 rgb(22, 53, 61, 0.2);

}


.card{
    background-color: rgb(181, 21, 69);
}

.talent{
    height: auto;
    width: 60px;
}

.earning{
    height: auto;
    width: 60px;
}

.yy{
    margin-top: -12px;
}

.cc{
    margin-top: 18px;
}

.pp{
    margin-top: 27px;
}

.third{
    background-color: #EBDDDA;
}

.newsletter{
    background-color: #DFEDDC;
}

@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}

.team{
    background-color: #2C6777;
}

.bi{
    color: #DFEDDC;
}
body, html {
  margin: 0;
  padding: 0;
}
footer div{
    width:100%;
    background-color: #163A1E;
}
.artizo-footer, #button-addon2{
    background-color: #163A1E;
    color: #DFEDDC;
}